<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New User</title>
  </head>
  <body>
    <div class="formbox">
      <form action="/saveuser" method="POST">
        <div>
          <label for="userName" id="userName" name="userName">User Name</label>
          <input type="text" name="userName" />
          <button id="addButton" type="submit">Add</button>
        </div>
      </form>
    </div>
  </body>
</html>
